body {
  background-color: #141414;
  color: #fff;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow-y: hidden;
}
.image-container {
  width: fit-content;
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
